/* App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Position relative to place arrows absolutely */
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Hide any overflow */
}

.carousel img {
  width: 100%; /* Stretch the image to fill the width */
  height: 100%; /* Stretch the image to fill the height */
  object-fit: cover; /* Ensure the image covers the container */
  object-position: top; /* Adjust the position to focus on the top of the image */
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
